*~
.nfs*
*.o
.dropbox*
*.eps
*.top
*.DS_Store
*.DSYM*
*.a
version.f
*.mod
*.log
*.tlog
*.exe

#Thumbnail-Dateien von Windows
Thumbs.db

#Temporäre/Build-Dateien von Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/

/.vs/advancedNN/v15/ipch/AutoPCH/2478a6990a1b08f7/MAIN.ipch
/.vs/advancedNN/v15/ipch/AutoPCH/2ba104f9e20460e4/NN.ipch
/.vs/advancedNN/v15/ipch/AutoPCH/907cd32fc3cb6bb7/NN.ipch
/.vs/advancedNN/v15/ipch/AutoPCH/ed6acaa8ee5f64/MAIN.ipch
/.vs/advancedNN/v15/Browse.VC.db
/.vs/advancedNN/v15/Browse.VC.opendb
